body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(img/FloorPlan.png);
    margin: 0;
    padding: 0;
    text-align: center;
}
p, h2{
    text-align: left;
}
div.clear{
    clear: both;
    font-size: 1%;
}
header{
    background-color: black;
    margin-top: -1em;
    padding-bottom: 1em;
}
header h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: white;
    position: relative;
    margin-top: 0;
}
div.logoDiv{
    padding: 0;
    margin: 0;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
}
nav#social{
    float: right;
}
div#spatNav li{
    font-size: 24px;
    display: inline-block;
    background-color: rgb(156, 183, 218);
    border: solid 10px rgb(156, 183, 218);
}
li#search {
    height: 28px;
}
input{
    position: relative;
    top: -3px;
    font-size: 18px;
}
div#spatNav a{
    text-decoration: none;
}
div#spatNav a:hover{
    background-color: rgb(201, 51, 51);
    color: rgb(255, 255, 57);
    border: solid 10px rgb(201, 51, 51);
}
div.side{
    width: 500px;
    float: left;
    position: relative;
    display: block;
    background-color: rgb(156, 183, 218);
    margin: 15px 0 15px 15px;
    padding: 20px 10px 20px 10px;
    border: hidden;
    border-radius: 5px;
}
img#owner{
    width: 480px;
}
img#featureSpat{
    width: 480px;
    border: 1px solid black;
}
div.sale{
    float: right;
    position: absolute;
    top: -5px;
    right: 60px;
    width: 500px;
    height: 240px;
    background: url(img/SaleBackground.png) center no-repeat;
    background-size: 90% 95%;
}
div.sale h1{
    position: relative;
    font-size: 1.65em;
    top: 92px;
    right: 9px;
    padding: -10px;
    margin: -5px;
}
div#spatNav{
    background-color: rgb(156, 183, 218);
}
div.main{
    margin-top: 40px;
}
div.spatMain{
    position: relative;
    float: right;
    width: 395px;
    margin: 10px 10px 10px 10px;
    padding: 15px 5px 15px 5px;
    background-color: rgb(0, 57, 245);
    border-radius: 15px;
}
img.displaySpat{
    width: 360px;
    height: 360px;
    border: 1px solid black;
    border-radius: 20px;
}
button{
    width: 90%;
    height: 3em;
    color: white;
    background-color: rgb(44, 129, 18);
    display: inline-block;
    border: 3px solid #070163;
    border-radius: 100%;
    margin-top: 5px;
}
button:hover{
    background-color: rgb(54, 172, 19);
}
footer{
    background-color: black;
    color: white;
    padding-bottom: 10px;
}
footer ul#footerMenu{
    display: inline-block;
    list-style: none;
}
footer ul li{
    display: inline-block;
    margin: 0;
    padding-right: 25px;
}
footer ul li::before{
    content: "| ";
    padding-right: 25px;
}
footer a{
    color: white;
}